<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hok">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.hok.expection.core.RecoveryActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:process=":recover"
            android:screenOrientation="portrait"
            android:theme="@style/RecoveryTheme.NoActionBar">
        </activity>

        <service
            android:name="com.hok.expection.core.RecoveryService"
            android:enabled="true"
            android:exported="false"
            android:process=":recover">
        </service>
    </application>
    <meta-data android:name="design_width" android:value="768"/>
    <meta-data android:name="design_height" android:value="1280"/>
</manifest>
